.homepage-slideshow .homepage-slideshow__image {
    height: 55vh;
    width: 100%;
    position: relative;
}

@media(min-width: 997px) {
    .homepage-slideshow .homepage-slideshow__image {
        height: 96vh;
    }
}

.homepage-slideshow .homepage-slideshow__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1px);
}

.homepage-slideshow .homepage-slideshow__image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.homepage-slideshow .homepage-slideshow__item {
    position: relative;
}

.homepage-slideshow .homepage-slideshow__item.dark {
    color: #000;
}

.homepage-slideshow .homepage-slideshow__item.light {
    color: #fff;
}

.homepage-slideshow .homepage-slideshow__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: inherit;
    cursor: default;
    width: 100%;
    max-width: 600px;   
}

.homepage-slideshow .homepage-slideshow__heading {
    color: inherit;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    margin-bottom: 20px;
}

.homepage-slideshow .homepage-slideshow__description {
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

@media(max-width: 996px) {
    .homepage-slideshow .homepage-slideshow__heading {
        font-size: 28px;
        margin-bottom: 8px;
    }

    .homepage-slideshow .homepage-slideshow__description {
        font-size: 14px;
    }
    .theme-layout-navbar {
        backdrop-filter: unset;
        --ifm-menu-color: #333;
        --ifm-navbar-link-color: #333;
        --ifm-navbar-link-hover-color: #333;
        background: #fff;
    }

    .theme-layout-navbar svg {
        color: var(--ifm-navbar-link-color);
    }
}
